.custom-pecs-card {
  background-color: #f9f9f9;
  border-radius: 1rem;
  transition: transform 0.2s ease, background-color 0.2s ease;
  padding: 1rem;
}

.custom-pecs-card:hover {
  transform: scale(1.05);
  background-color: #eaf4ff;
}


/* تحسين العرض على الشاشات المختلفة */
@media (min-width: 768px) {
  .main-content {
    margin-left: 260px; /* نفس عرض السايدبار */
  }
}

@media (max-width: 767px) {
  .main-content {
    margin-top: 70px;
  }

  .custom-pecs-card {
    padding: 0.75rem;
  }
}

#prmary {
  border: 1px solid #173067 !important;
  color: #173067 !important;
  background-color: none !important;
}
#prmary:hover {
  background-color: #173067 !important;
  color: white !important;
}