.cat-card {
  background-color: #f9f9f9;
  border-radius: 1rem;
  transition: transform 0.2s ease, background-color 0.2s ease;
  padding: 1rem;
}

.cat-card:hover {
  transform: scale(1.05);
  background-color: #eaf4ff;
}

#prmary {
  border: 1px solid #173067 !important;
  color: #173067 !important;
  background-color: none !important;
}
#prmary:hover {
  background-color: #173067 !important;
  color: white !important;
}

@media (min-width: 750px) {
  .main-content {
    margin-left: 260px; /* نفس عرض السايدبار */
  }
}

@media (max-width: 749px) {
  .main-content {
    margin-top: 70px; /* أو أي قيمة تناسب ارتفاع الـ Navbar */
  }
}
