.profile-card {
  background: #fff;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.profile-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 81, 132, 0.15);
}

.profile-info p {
  margin-bottom: 10px;
  font-size: 1rem;
}
#prmary {
  border: 1px solid #173067 !important;
  color: #173067 !important;
  background-color: white !important;
}
#prmary:hover {
  background-color: #173067 !important;
  color: white;
}


/* Adjust main content padding with sidebar */


